{% load static %}
<section id="banner">
    <div id="banner-carousel">
        <div class="banner-carousel-item">
            <div class="banner-content">
                <div class="banner-text">
                    <h1>Biossegurança</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero perspiciatis minus eveniet culpa!</p>
                </div>
                <img src="{% static '/img/biotecnologia-101.png' %}" alt="">
            </div>
        </div>
        <div class="banner-carousel-item">
            <div class="banner-content">
                <div class="banner-text">
                    <h1>Outro texto</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero perspiciatis minus eveniet culpa!</p>
                </div>
                <img src="{% static '/img/biotecnologia-101.png' %}" alt="">
            </div>
        </div>
        <div class="banner-carousel-item">
            <div class="banner-content">
                <div class="banner-text">
                    <h1>Outro texto</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero perspiciatis minus eveniet culpa!</p>
                </div>
                <img src="{% static '/img/biotecnologia-101.png' %}" alt="">
            </div>
        </div>
        <div class="banner-carousel-item">
            <div class="banner-content">
                <div class="banner-text">
                    <h1>Outro texto</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero perspiciatis minus eveniet culpa!</p>
                </div>
                <img src="{% static '/img/biotecnologia-101.png' %}" alt="">
            </div>
        </div>
        
    </div>
</section>
