<footer>
    <div id="cinza">
        <div class="endereco">
            <h2>Endereço</h2>  
            <div class="text-img">          
                <img src="static\img\maps-and-flags.png">
                <p>CTG, Avenida da Arquitetura, SN, Recife, PE 50670-901, BR</p>
            </div>
        </div>
        <div class="informacoes">
            <h2>Informações de contato</h2>
            <div class="text-img">
                <img src="static\img\black-back-closed-envelope-shape (1).png">
                <p>contato@biotechconsultoria.com</p>
            </div>
            <div class="text-img">
                <img src="static\img\call-answer (1).png">
                <p>(81) 99732-1838</p>
            </div>
        </div>
        <div class="conecte">
            <h2>Conecte-se</h2>
            <div class="text-img">
                <img src="static\img\facebook (1).png">
                <p>/biotechconsultoria</p>
            </div>
            <div class="text-img">
                <img src="static\img\linkedin (3).png">
                <p>/company/biotechconsultoria</p>
            </div>
            <div class="text-img">
                <img src="static\img\instagram (1).png">
                <p>@biotechconsultoria</p>
            </div>     
        </div>
        <div class="logo-footer"><img src="static\img\Logo_Branca1.png"></div>
    </div>
    <img class="engrenagem" src="static\img\nova_logo_cinza-03-removebg-preview.png">
    <div id="preto"></div>

    <div class="bar">
        <div id="bar-flex">
            <div>© 2019 CITi - Todos os direitos reservados</div>
            <div class="madewith">
                <div id="bar-made-with">Made with
                    <i class="fa fa-code"></i> and
                    <i class="far fa-heart" id="coracao"></i> by
                    <a href="https://www.citi.org.br/" target="_blank">
                        CITi
                    </a>
                </div>
            </div>
            </span>
        </div>
    </div>
</footer>