<footer>
    <div id="cinza">
        <div class="endereco">
            <img>
            <h2>Endereço</h2>
            <p>CTG, Avenida da Arquitetura, SN, Recife, PE 50670-901, BR</p>
        </div>
        <div class="informacoes">
            <h2>Informações de contato</h2>
            <ul>
                <li>
                    <img>
                    <p>contato@biotechconsultoria.com</p>
                </li>
                <li>
                    <img>
                    <p>(81) 99732-1838</p>
                </li>
            </ul>
        </div>
        <div class="conecte">
            <h2>Conecte-se</h2>
            <ul>
                <li>
                    <img>
                    <p>/biotechconsultoria</p>
                </li>
                <li>
                    <img>
                    <p>/company/biotechconsultoria</p>
                </li>
                <li>
                    <img>
                    <p>@biotechconsultoria</p>
                </li>
            </ul>
        </div>
        <div class="logo-footer"><img src="static\img\Logo_Branca1.png"></div>
    </div>
    <div id="preto"></div>
</footer>