<nav id="nav">
    <a id="logo-navbar" href="banner.html"> <img src="static\img\Logo_Branca1.png"> </a>
    <ul class="categorias">
        <li>
            <a href="banner.html" id="inicioNav">Início</a>
        </li>
        <li>
            <a href="sobre.html" id="sobreNosNav">Sobre nós</a>
        </li>
        <li>
            <a href="servicos.html" id="servicosNav">Serviços</a>
        </li>
        <li>
            <a href="contato.html" id="contatoNav">Contato</a>
        </li>
        <li>
            <div id="menu-barras" onclick="rotateButtonFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>  
                <div class="" id="dropdown">
                    <ul>
                        <li>
                            <a href="banner.html" id="inicioMenu">Início</a>
                        </li>
                        <li>
                            <a href="sobre.html" id="sobreNosMenu">Sobre nós</a>
                        </li>
                        <li>
                            <a href="servicos.html" id="servicosMenu">Serviços</a>
                        </li>
                        <li>
                            <a href="contato.html" id="contatoMenu">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>

<!--COLOCAR FUNCAO NO .JS-->
<script>
function rotateButtonFunction(x) {
  x.classList.toggle("change");
  document.getElementById("dropdown").classList.toggle("change");
}
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementsByClassName("categorias").style.opacity = "10%";
  } else {
    document.getElementsByClassName("categorias").style.opacity = "100%";
  }
  prevScrollpos = currentScrollPos;
}

</script>
