<nav>
    <a id="logo-navbar"> <img> </a>
    <ul class="categorias">
        <li>
            <a href="/inicio" id="inicio">Início</a>
        </li>
        <li>
            <a href="/sobreNos" id="sobreNos">Sobre nós</a>
        </li>
        <li>
            <a href="/servicos" id="servicos">Serviços</a>
        </li>
        <li>
            <a href="/contato" id="contato">Contato</a>
        </li>
    </ul>
    <a id="menu-barras" onclick="rotateButtonFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </a>
</nav>

<!--COLOCAR FUNCAO NO .JS-->
<script>
function rotateButtonFunction(x) {
  x.classList.toggle("change");
}
</script>