<section class="container-servicos">
    <div class="circle-carrossel">
        <div class="circle">
            <div class="dot" id="dot1"></div>
            <div class="dot" id="dot2"></div>
            <div class="dot" id="dot3"></div>
        </div>
        <div class="carrossel">
            <h2>Serviço 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit velit quibusdam minima natus, itaque tempora voluptas iure laboriosam, ipsam, debitis quas commodi possimus hic fuga. A, eius voluptas! Non, officia.</p>
            <div class="setas">
                <a class="left"><</a>
                <a class="right">></a>
            </div>
        </div>
        <img>
    </div>
</section>