{% load static %}
<section class="servicos">
    <div class="text">
        <div class="circulo-total">
            <img id="engrenagem-carrossel" src="{% static 'img/nova_logo_cinza-03-removebg-preview.png' %}">
            <div class="icone">
                <img id="icone-img" src=""> 
            </div>
        </div>
        <section class="carousel">
            
            <!-- Esses inputs adicionavam Ids que serviam de ponteiro entre os itens, mas, dessa forma, fixavam a quantidade de slides no carrossel. Iremos setar as Ids com Django (no for). -->
            
            <input type="radio" name="carousel" id="carousel1" checked="checked" />
            <input type="radio" name="carousel" id="carousel2" />
            <input type="radio" name="carousel"  id="carousel3"/>
            <input type="radio" name="carousel" id="carousel4"/>
            <input type="radio" name="carousel" id="carousel5"/>
            
            <main class="carousel__stage">
                {% for servico_item in servicos %}
                    <div class="carousel__item">      
                        <h2>{{servico_item.servico_tipo}}</h2>
                        <p>{{servico_item.servico_descricao}}</p>
                        <label for="carousel1" class="carousel__next" onclick="rotateNext()"></label>
                    </div>
                {% endfor %}
            </main>
        </section>
    </div>
    <img id="engrenagem-fundo"  src="{% static 'img/nova_logo_cinza-03-removebg-preview.png' %}">
</section>
<script>
function rotateNext(){
    
    var img = document.getElementById("engrenagem-carrossel");
    img.setAttribute("class", "rotated-image-next");
}
function rotatePrev(){
    var img = document.getElementById("engrenagem-carrossel");
    img.setAttribute("class", "rotated-image-prev");
}
</script>