/* #######  BANNER ######### */
#banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -25px;
    margin-bottom: -30px;
    z-index: 1;
}

#banner-carousel {
    width: 100%;
    height: 100%;
    display: flex;
}

.banner-carousel-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(20, 20, 20, 0.95), rgb(255, 171, 62, 0.3));
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.banner-content {
    height: 100%;
}

.banner-text {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 20px;
}

.banner-text h1 {
    font-family: 'League Spartan', 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 2.8em;
    color: #FF914D;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: 2rem;
    width: 50%;
}

.banner-text p {
    color: #FFFFFF;
    font-size: 1.4em;
    margin-left: 5%;
    margin-bottom: auto;
    width: 60%;
    font-weight: normal;
}

.banner-content img {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}

.slick-slider {
    -webkit-user-select: text!important;
    -khtml-user-select: text!important;
    -moz-user-select: text!important;
    -ms-user-select: text!important;
    user-select: text!important;
}
.slick-list.draggable {
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}

.slick-track{
    width: 100%;
    height: 100vh;
  }

.slick-dots{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 5;
}

.slick-dots button{
    -webkit-appearance: none;
    width: 50px;
    height: 6px;
    border: none;
    /* border-radius: 50%; */
    font-size: 0;
    background-color: white;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    outline: none;
}

.slick-active button{
    -webkit-appearance: none;
    background-color: #4DBBFF;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.4);
}

.slick-arrow {
    bottom: 16%;
    transition: all .2s ease-in;
}

.slick-arrow:hover {
    filter: sepia(200%);
}

.slick-next {
    right: 10%;
    position: absolute;
    height: 30px;
    width: 30px;
    /* bottom: 0; */
    z-index: 10;
    background: url('../icons/next.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.slick-prev{
    right: 15%;
    position: absolute;
    height: 30px;
    width: 30px;
    /* bottom: 0; */
    z-index: 10;
    background: url('../icons/prev.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.slick-slider .slick-list {
    width: 100%;
}

@media (min-width: 700px)
and (max-width: 1024px){
    .banner-text {
        font-size: 20px;
    }

    .banner-text h1 {
        margin-left: 0%;
        padding: 0 5%;
        width: 100%;
    }
    
    .banner-text p {
        color: #FFFFFF;
        width: 80%;
        font-weight: bold;
    }
    
    .banner-content img {
        min-height: 100%;
    }

    .slick-dots{
        bottom: 14%;
        right: 50%;
        transform: translateX(50%);
    }
    
    .slick-dots button{
        width: 50px;
        height: 7px;
        border: none;
        margin-left: 14px;
        outline: none;
    }

    
    .slick-arrow {
        display: none!important;
    }

} 

@media (max-width: 699px) {
    .banner-text {
        font-size: 10px;
    }

    .banner-text h1 {
        margin-left: 0%;
        padding: 0 5%;
        width: 100%;
    }
    
    .banner-text p {
        color: #FFFFFF;
        width: 80%;
        font-weight: bold;
    }
    
    .banner-content img {
        min-height: 100%;
    }

    .slick-dots{
        bottom: 12%;
        right: 50%;
        transform: translateX(50%);
    }
    
    .slick-dots button{
        width: 40px;
        height: 7px;
        border: none;
        /* border-radius: 50%; */
        margin-left: 14px;
        outline: none;
    }

    .slick-arrow {
        display: none!important;
    }

}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .banner-text {
        font-size: 25px;
    }

    .slick-dots{
        bottom: 12%;
        right: 50%;
        transform: translateX(50%);
    }

    .slick-dots button{
        width: 60px;
        height: 10px;
        border: none;
        /* border-radius: 50%; */
        margin-left: 14px;
        outline: none;
    }
}

/* #######  SOBRE ######### */

#sobre {
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 70px 0;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
    position: relative;
}

#sobre > .line-detail {
    width: 40%;
    margin-bottom: 30px;
}

#sobre h2 {
    color: #6C6D6D;
    font-size: 2rem;
    font-family: 'League Spartan', 'Open Sans', 'Segoe UI', sans-serif;
}

.mvv-cards-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-mvv {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: auto;
    min-width: 200px;
}

.card-mvv img {
    width: 100%;
    max-width: 130px;
    margin-bottom: 10px;
}

.card-mvv h3 {
    color: #FF914D;
    font-size: 1.8rem;
    font-family: 'League Spartan', 'Open Sans', 'Segoe UI', sans-serif;
}

.line-detail {
    width: 80%;
    height: 6px;
    background-image: radial-gradient(#6C6D6D, #a0a0a000, transparent);
    margin-bottom: 10px;
}

.card-mvv p {
    color: #6C6D6D;
    font-size: 1.2rem;
    width: 65%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5rem;
}

@media (max-width: 1024px) {
    #sobre {
        padding-bottom: 30px;
    }

    #sobre > .line-detail {
        margin-bottom: 40px;
    }

    .card-mvv {
        margin-bottom: 25px;
    }
    
    .card-mvv img {
        width: 100%;
        max-width: 100px;
        margin-bottom: 10px;
    }    

    .line-detail {
        margin-bottom: 13px;
    }

    .card-mvv p {
        width: 80%;
    }
}

/* #######  CONTATO ######### */

#contato {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 70px 0;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
    position: relative;
    overflow: hidden;
}

#contato .logo-detail {
    position: absolute;
    top: -10%;
    left: -20%;
    opacity: 0.04;
    height: 135%;
    pointer-events: none;
    animation: logo-animation 60s infinite linear;
}

@keyframes logo-animation {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

#contato > .line-detail {
    width: 60%;
    margin-bottom: 30px;
}

#contato > h2 {
    color: #6C6D6D;
    font-size: 2rem;
    font-family: 'League Spartan', 'Open Sans', 'Segoe UI', sans-serif;
}

.contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.contact-companies {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: baseline;
    justify-content: flex-start;
}

.contact-companies > img:first-child {
    width: 100%;
    max-width: 270px;
}

.contact-companies p {
    color: #6C6D6D;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'League Spartan', 'Open Sans', 'Segoe UI', sans-serif;
    margin-right: auto;
}

.partners {
    display: flex;
    justify-content: space-between;
}

.partners img{
    width: 100%;
    max-width: 60px;
}

.contact-container form {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
    margin: auto 0;
    padding-top: 20px;
    z-index: 5;
}

.contact-container form input, textarea {
    border: none;
    border-bottom: 3px solid #FF914D;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
    outline: none;
    color: #6C6D6D;
    transition: all .2s ease-in;
    background: transparent;
}

.contact-container form textarea {
    height: auto;
    resize: none;
    margin-bottom: 30px;
}

.contact-container form textarea::placeholder {
    font-weight: 400;
}

.contact-container form input::placeholder {
    color: #6C6D6D;
    font-size: 1rem;
    font-weight: 400;
    transition: all .2s ease-in;
}

.contact-container form input:focus {
    border-bottom-color: rgb(253, 114, 28);
}

.contact-container form input:focus::placeholder {
    color: rgb(199, 199, 199);
}

.contact-container form input:invalid {
    border-bottom-color: rgb(255, 72, 72);
}

.contact-container form button {
    font-size: 1.2rem;
    font-family: 'League Spartan', 'Open Sans', 'Segoe UI', sans-serif;
    border: none;
    background-color: #FF914D;
    width: 50%;
    margin: 0 auto;
    /* padding: 10px; */
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.2);
    transition: all .2s ease-in;
}

.contact-container form button:hover {
    filter: brightness(110%);
}

.contact-container form button:focus {
    filter: brightness(100%);
    box-shadow: 0px 2px 8px rgba(50, 50, 50, 0.4);
    outline: none;
}

.contact-container form input[name=nome] {
    width: 60%;
}

.contact-container form input[name=telefone] {
    width: 30%;
    margin-left: auto;
}

.contact-container form input[name=email] {
    width: 100%;
}

.contact-container form input[name=empresa] {
    width: 45%;
}

.contact-container form input[name=area-atuacao] {
    width: 45%;
    margin-left: auto;
}

.contact-container form input[name=assunto] {
    width: 100%;
}

.contact-container form input[name=mensagem] {
    width: 100%;
}

.contact-container form textarea {
    width: 100%;
    max-height: 200px;
}

@media (max-width: 830px) {
    #contato {
        height: auto;
    }

    #contato .logo-detail {
        top: -15%;
        left: -220%;
    }

    .contact-container form {
        width: 90%;
    }

    .contact-container form input {
        width: 100%!important;
        margin-bottom: 30px;
    }

    .contact-container form button {
        font-size: 1.2rem;
        padding: 10px;
        width: 80%;
    }
    
    .contact-companies {
        align-items: center;
    }

    .contact-companies p {
        margin-left: auto;
    }
}