nav {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    height: 70px;
    display: flex;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
nav #logo-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 3em;
}
nav #logo-navbar img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 5em;
}
nav .categorias {
    position: absolute;
    display: flex;
    list-style: none;
    flex-direction: row;
    /* color: white; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    padding-right: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .categorias li {
   padding-left: 5em;
}
nav .categorias li a{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.categorias li a:hover {
    transition: 0.4s;
    color: orangered; /*mudar para laranja correto*/
}
#menu-barras {
    cursor: pointer;
    float: right;
}
#menu-barras .menu {
    background-color: black;
    color: white;
    overflow: hidden;
    right: -100p;
    z-index: 10;
    padding: 1em;
    width: 20vw;
    right: 0;
    position: absolute;
    display: none;
    height: 50vh;
    min-width: 200px;
}
#menu-barras .menu li {
    list-style: none;
    padding: 1em;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.show .menu {
    display: block;
}
@media only screen and (max-width: 800px) {
    nav .categorias li a {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .bar1, .bar2, .bar3 {
        display: block;
    }
}
@media only screen and (min-width: 800px) {
    .bar1, .bar2, .bar3 {
        display: none;
        transition: 0ms;
    }
}
footer {
    bottom: 0;
    background-color: #3A3A3A;
    color: white;

}
#cinza {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 2em;
}
#cinza h2 {
    color: #4DBBFF;
}
#cinza p {
    width: 10em;
    word-wrap: break-word;
}
#cinza ul li {
    list-style: none;
    word-wrap: break-word;
}
#cinza .endereco, .informacoes, .conecte {
    display: flex;
    flex-direction: column;
    padding: 2em;
}
#cinza .logo-footer img {
    width: 10em;
    padding: 2em;
}