nav {
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 100vw;
    height: 70px;
    overflow: hidden;
}
nav .categorias {
    position: fixed;
    display: flex;
    list-style: none;
    flex-direction: row;
    color: white;
    text-align: center;
    right: 0;
    padding-right: 5em;
}
nav ul li {
   padding-left: 5em;
}
nav .categorias li a{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.categorias li a:hover {
    transition: 0.4s;
    color: orangered; /*mudar para laranja correto*/
}
#menu-barras {
    cursor: pointer;
    float: right;
    margin-right: 5em;
    margin-top: 1em;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
@media only screen and (max-width: 800px) {
    nav .categorias li a {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .bar1, .bar2, .bar3 {
        display: block;
    }
}
@media only screen and (min-width: 800px) {
    .bar1, .bar2, .bar3 {
        display: none;
        transition: 0ms;
    }
}