{% extends 'base.html' %}
{% load static %}


<!-- Bloco para incluir links, metatags e qualquer coisa que virá no head -->
{% block CUSTOM_HEAD %}

    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet"> 

{% endblock %}


<!-- Bloco de conteúdo da página -->
{% block CONTENT %}

    <div class="container">
        {% include "sections/navbar.html" %}
        {% include "sections/banner.html" %}
        {% include "sections/sobre.html" %}
        {% include "sections/servicos.html" %}
        {% include "sections/contato.html" %}
        {% include "sections/footer.html" %}
    </div>

{% endblock %}


<!-- Block para inserir scripts -->
{% block SCRIPTS %}

    <script src="{% static '/js/utils/utils.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>

{% endblock %}